<div class="container">
	<div class="row">
      <div id="awesome-search-input">
				<a href="#/" title="Start Over"><h2>Awesome TMDB App</h2></a>
        <div class="input-group col-md-12">
          <input type="text" class="search-query form-control"
             placeholder="Search by Movie, Show, Actor, Actress, Company,..."
						 name="searchPhrase" id="searchPhrase" class="form-control pull-right"
						 ng-model="view.searchPhrase" ng-change="search()" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search text-muted"></span>
              </button>
           </span>
      </div>
			<div class="col-md-3 body-area-one-right">
				<awesome-search-results ng-model="view" />
			</div>
    </div>
	</div>
</div>
