<div class="container">
	<div class="row">
      <div id="awesome-search-input">
				<a href="#/" title="Start Over"><h2>Awesome TMDB App</h2></a>
        <div class="input-group col-md-12">
          <input type="text" class="search-query form-control"
             placeholder="Search by Movie, Show, Actor, Actress, Company,..."
						 name="searchPhrase" id="searchPhrase" class="form-control pull-right" ng-model="view.searchPhrase" ng-change="search()" />
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button">
                <span class=" glyphicon glyphicon-search"></span>
              </button>
           </span>
      </div>
			<div class="bodyArea">
				<awesome-search-results ng-model="view.resultlist" />
			</div>
    <!--  <div ng-if="view.resultlist.length > 0" class="pull-left" style="width: 557px; background-color: #ffffff; position: absolute; right: 15px; margin-top: -17px; z-index: 100; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; border-left: 1px solid #dddddd; border-right: 1px solid #dddddd;">
          <div ng-repeat="match in view.resultlist">
              <a ng-if="match.media_type === 'movie' && match.poster_path" href="#/movie/{{ match.id }}">
                  <div style="margin-bottom: 2px; margin-top: 2px;">
                      <img ng-if="match.poster_path" src="{{view.images}}{{ match.poster_path }}" style="width: 25px; margin-right: 10px;" />{{ match.title }}
                  </div>
              </a>
              <a ng-if="match.media_type === 'person' && match.profile_path" href="#/person/{{ match.id }}">
                  <div style="margin-bottom: 2px; margin-top: 2px;">
                      <img src="{{view.images}}{{ match.profile_path }}" style="width: 25px; margin-right: 10px;" />{{ match.name }}
                  </div>
              </a>
          </div>
      </div> -->
    </div>
	</div>
</div>
