<div class="container">
	<div class="row">
      <div class="awesome-search-input">
				<div class="col-xs-6  col-md-3">
					<h2>
					<!--<span href="#/" title="Start Over">Awesome TMDB App</span>-->
					<span class="label label-default"><a ng-href="#/">Awesome TMDB App</a>
					</span>
					<h2>
				</div>
        <div class="input-group col-md-12">
          <input type="text" class="search-query form-control"
             placeholder="Search by Movie, Show,..."
						 name="searchPhrase" id="searchPhrase" class="form-control pull-right"
						 ng-model="view.searchPhrase" ng-change="search()" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
           </span>
      </div>
			<div class="col-md-3 body-area-one-right">
				<awesome-search-results ng-model="view" />
			</div>
    </div>
	</div>
</div>
